<div class="form-group">
  <label>{{localize "PF1KS.SettlementLabel"}}</label>
  <div class="form-fields">
    <select name="system.settlementId">
      {{selectOptions settlementIdOptions selected=system.settlementId}}
    </select>
  </div>
</div>

<div class="form-group">
  <label>{{localize "PF1KS.BuildingType"}}</label>
  <div class="form-fields">
    <select class="sub-type-selector" name="system.type">
      {{selectOptions buildingTypeOptions selected=system.type}}
    </select>
  </div>
</div>

<div class="form-group">
  <label>{{localize "PF1KS.Lots"}}</label>
  <div class="form-fields">
    {{numberInput system.lots name="system.lots" step=1 min=0}}
  </div>
</div>

<div class="form-group">
  <label>{{localize "PF1KS.Cost"}}</label>
  <div class="form-fields">
    {{numberInput system.cost name="system.cost" step=1 min=0}}
  </div>
</div>

<div class="form-group">
  <label>{{localize "PF1KS.Width"}}</label>
  <div class="form-fields">
    {{numberInput system.width name="system.width" step=1 min=1 max=6}}
  </div>
  <label>{{localize "PF1KS.Height"}}</label>
  <div class="form-fields">
    {{numberInput system.height name="system.height" step=1 min=1 max=6}}
  </div>
</div>
