<ol class="item-list changes">
  <li class="flexrow item-list-header">
    <span class="item-detail item-formula">{{localize "PF1KS.Change"}}</span>
    <span class="item-detail item-target">{{localize "PF1KS.Target"}}</span>
    <span class="item-detail item-scope">{{localize "PF1KS.Scope"}}</span>
    <div class="item-detail item-controls two-button">
      <a class="item-control add-change" data-tooltip="PF1KS.AddChange">
        <i class="fa-solid fa-plus"></i>
      </a>
    </div>
  </li>

  {{#each changes as |change idx|}}
  <li class="flexrow item" data-id="{{ id }}">
    <input
      class="item-detail item-formula"
      type="number"
      value="{{ bonus }}"
      name="system.changes.{{ idx }}.bonus"
      step="1"
      placeholder="Formula"
    />
    <span class="item-detail item-target target-change">{{ targetLabel }}</span>
    <select class="item-detail item-scope" name="system.changes.{{ idx }}.scope" {{disabled disableScope}}>
      {{selectOptions @root.scopeChoices selected=scope}}
    </select>
    <div class="item-detail item-controls two-button">
      <a class="item-control duplicate-change" data-tooltip="PF1KS.DuplicateChange">
        <i class="fa-solid fa-copy"></i>
      </a>
      <a class="item-control delete-change" data-tooltip="PF1KS.DeleteChange">
        <i class="fa-solid fa-trash"></i>
      </a>
    </div>
    <input type="hidden" value="{{ id }}" name="system.changes.{{ idx }}.id" />
    <input type="hidden" value="{{ target }}" name="system.changes.{{ idx }}.target" />
  </li>
  {{/each}}
</ol>
