<ol class="item-list">
  <li class="flexrow item-list-header">
    <div class="item-name">
      <h3>{{ localize "PF1KS.Armies" }}</h3>
    </div>
    <div class="item-detail item-army-hp" data-tooltip="PF1KS.Army.HP"><i class="fa-solid fa-heart"></i></div>
    <div class="item-detail item-number" data-tooltip="PF1KS.Army.DV"><i class="ra ra-shield"></i></div>
    <div class="item-detail item-number" data-tooltip="PF1KS.Army.OM"><i class="ra ra-sword"></i></div>
    <div class="item-detail item-number" data-tooltip="PF1KS.Army.Speed"><i class="fa-solid fa-shoe-prints"></i></div>
    <div class="item-detail item-number" data-tooltip="PF1KS.Army.Morale"><i class="ra ra-beer"></i></div>
    <div class="item-detail item-number" data-tooltip="PF1KS.Army.ConsumptionPerWeek">
      <i class="fa-solid fa-sack-dollar"></i>
    </div>
    <div class="item-detail item-commander" data-tooltip="PF1KS.Army.Commander"><i class="ra ra-player-king"></i></div>
    <div class="item-detail item-controls two-button">
      <a class="item-control army-create" data-tooltip="PF1KS.CreateArmy">
        <i class="fa-solid fa-plus"></i>
      </a>
    </div>
  </li>
  {{#each armies}}
  <li class="flexrow item" data-id="{{ id }}">
    <div class="item-name expand-summary">
      <div class="item-image" style="background-image: url('{{ img }}')"></div>
      <span>{{ name }}</span>
    </div>
    <span class="item-detail item-army-hp">{{ system.hp.current }} / {{ system.hp.max }}</span>
    <span class="item-detail item-number">{{ system.dv.total }}</span>
    <span class="item-detail item-number">{{ numberFormat system.om.total sign=true }}</span>
    <span class="item-detail item-number">{{ system.speed.total }}</span>
    <span class="item-detail item-number">{{ system.morale.total }}</span>
    <span class="item-detail item-number">{{ system.consumption.total }}</span>
    <span class="item-detail item-commander">{{ system.commander.name }}</span>
    <div class="flexrow item-detail item-controls two-button">
      <a class="item-control army-edit" data-tooltip="PF1KS.EditArmy">
        <i class="fa-solid fa-pen-to-square"></i>
      </a>
      <a class="item-control army-delete" data-tooltip="PF1KS.DeleteArmy">
        <i class="fa-solid fa-trash"></i>
      </a>
    </div>
  </li>
  {{/each}}
</ol>
