<ol class="item-list">
  <li class="flexrow item-list-header">
    <span class="item-detail item-position">{{localize "PF1KS.Position"}}</span>
    <span class="item-name">{{localize "PF1KS.FilledBy"}}</span>
    {{#if system.config.leadershipSkills}}
    <span class="item-detail item-leader-skill-bonus">{{localize "PF1KS.SkillBonus"}}</span>
    {{/if}}
    <span class="item-detail item-leader-bonus">{{localize "PF1KS.Bonus"}}</span>
    <div class="item-detail leader-controls">
      <a class="leader-control viceroy-create" data-tooltip="PF1KS.CreateViceroy">
        <i class="fa-solid fa-plus"></i>
      </a>
    </div>
  </li>

  {{#each leaders}}
  <li class="flexrow item leader">
    <span class="item-detail item-position">{{ roleLabel }}</span>
    <select class="item-name" name="system.leadership.{{ key }}.actor">
      {{selectOptions @root.validLeadershipChoices selected=actorId}}
    </select>
    {{#if @root.system.config.leadershipSkills}}
    <span class="item-detail item-leader-skill-bonus">+ {{ skillBonus }} {{ skillBonusLabel }}</span>
    {{/if}}
    {{#if showSelector}}
    <div class="item-detail item-leader-bonus">
      <span>+ {{ bonus }}</span>
      <select name="system.leadership.{{ key }}.bonusType">
        {{selectOptions bonusOptions selected=bonusType}}
      </select>
    </div>
    {{else}}
    <span class="item-detail item-leader-bonus">+ {{ bonus }} {{ bonusTypeLabel }}</span>
    {{/if}}
    <div class="item-detail leader-controls"></div>
  </li>
  {{/each}}

  {{#each viceroys as |viceroy idx|}}
  <li class="flexrow item leader" data-id="{{ id }}">
    <span class="item-detail item-position">{{ roleLabel }}</span>
    <select class="item-name" name="system.leadership.viceroys.{{ idx }}.actor">
      {{selectOptions @root.validLeadershipChoices selected=actorId}}
    </select>
    {{#if @root.system.config.leadershipSkills}}
    <span class="item-detail item-leader-skill-bonus">+ {{ skillBonus }} {{ skillBonusLabel }}</span>
    {{/if}}
    <span class="item-detail item-leader-bonus">+ {{ bonus }} {{ bonusTypeLabel }}</span>
    <input type="hidden" value="{{ id }}" name="system.leadership.viceroys.{{ idx }}.id" />
    <div class="item-detail leader-controls">
      <a class="leader-control viceroy-delete" data-tooltip="PF1KS.DeleteViceroy">
        <i class="fa-solid fa-trash"></i>
      </a>
    </div>
  </li>
  {{/each}}
</ol>
