<ol class="item-groups-list">
  <ol class="item-list">
    <li class="item-list-header flexrow">
      <div class="item-detail item-position">
        <h3>{{localize "PF1KS.Position"}}</h3>
      </div>
      <div class="item-detail item-actor">
        <label>{{localize "PF1KS.FilledBy"}}</label>
      </div>
      {{#if system.settings.optionalRules.leadershipSkills}}
      <div class="item-detail item-leader-skill-bonus">
        <label>{{localize "PF1KS.SkillBonus"}}</label>
      </div>
      {{/if}}
      <div class="item-detail item-leader-bonus">
        <label>{{localize "PF1KS.Bonus"}}</label>
      </div>
      {{#if @root.owner}}
      <div class="item-controls one-button">
        <a class="viceroy-create" data-tooltip="PF1KS.CreateViceroy">
          <i class="fa-solid fa-plus"></i>
        </a>
      </div>
      {{/if}}
    </li>

    {{#each leaders}}
    <li class="flexrow item">
      <div class="item-detail item-position">
        <span>{{ roleLabel }}</span>
      </div>
      <div class="item-detail item-actor">
        <select name="system.leadership.{{ key }}.actor">
          {{selectOptions @root.validLeadershipOptions selected=actorId}}
        </select>
      </div>
      {{#if @root.system.settings.optionalRules.leadershipSkills}}
      <div class="item-detail item-leader-skill-bonus">
        <span>{{ numberFormat skillBonus sign=true }} {{ skillBonusLabel }}</span>
      </div>
      {{/if}}
      <div class="item-detail item-leader-bonus-value">
        <span>{{ numberFormat bonus sign=true }}</span>
      </div>
      <div class="item-detail item-leader-bonus-type">
        {{#if showSelector}}
        <select name="system.leadership.{{ key }}.bonusType">
          {{selectOptions bonusOptions selected=bonusType}}
        </select>
        {{else}}
        <span>{{ bonusTypeLabel }}</span>
        {{/if}}
      </div>
      <div class="item-controls one-button"></div>
    </li>
    {{/each}}

    {{#each viceroys as |viceroy idx|}}
    <li class="flexrow item" data-item-id="{{ id }}">
      <div class="item-detail item-position">
        <span>{{ roleLabel }}</span>
      </div>
      <div class="item-detail item-actor">
        <select name="system.leadership.viceroys.{{ idx }}.actor">
          {{selectOptions @root.validLeadershipOptions selected=actorId}}
        </select>
      </div>
      {{#if @root.system.settings.optionalRules.leadershipSkills}}
      <div class="item-detail item-leader-skill-bonus">
        <span>{{ numberFormat skillBonus sign=true }} {{ skillBonusLabel }}</span>
      </div>
      {{/if}}
      <div class="item-detail item-leader-bonus-value">
        <span>{{ numberFormat bonus sign=true }}</span>
      </div>
      <div class="item-detail item-leader-bonus-type">
        <span>{{ bonusTypeLabel }}</span>
      </div>
      <div class="item-controls one-button">
        <a class="viceroy-delete" data-tooltip="PF1KS.DeleteViceroy">
          <i class="fa-solid fa-trash"></i>
        </a>
      </div>
    </li>
    {{/each}}
  </ol>
</ol>
