<div class="header">
  <h1>
    <input type="text" name="system.settlements.{{ sidx }}.name" value="{{ name }}" />
  </h1>
</div>

<div class="attributes flex0">
  <div class="info-box-header">
    <h3>{{localize "PF1.Attributes"}}</h3>
    <div class="info-box-joined">
      <div class="info-box">
        <h5>{{ localize "PF1KS.Population" }}</h5>
        <span class="value">{{ attributes.population }}</span>
      </div>
      <div class="info-box">
        <h5>{{ localize "PF1.Size" }}</h5>
        <span class="value">{{ sizeLabel }}</span>
      </div>
      <div class="info-box" data-tooltip-extended="settlement-danger.{{ sidx }}">
        <h5>{{ localize "PF1KS.Danger" }}</h5>
        <span class="value">{{ numberFormat attributes.danger.total sign=true }}</span>
      </div>
      <div class="info-box" data-tooltip-extended="settlement-baseValue.{{ sidx }}">
        <h5>{{ localize "PF1KS.BaseValue" }}</h5>
        <span class="value">{{ attributes.baseValue.total }}</span>
      </div>
      <div class="info-box" data-tooltip-extended="settlement-defense.{{ sidx }}">
        <h5>{{ localize "PF1.Defense" }}</h5>
        <span class="value">{{ numberFormat attributes.defense.total sign=true }}</span>
      </div>
    </div>
  </div>
</div>

{{#if @root.system.settings.optionalRules.expandedSettlementModifiers}}
<div class="attributes flex0">
  <div class="info-box-joined">
    <div class="info-box" data-tooltip-extended="settlement-Government.{{ sidx }}">
      <h5>{{ localize "PF1KS.GovernmentLabel" }}</h5>
      <select name="system.settlements.{{ sidx }}.attributes.government">
        {{selectOptions @root.settlementGovernmentOptions selected=attributes.government}}
      </select>
    </div>
    <div class="info-box" data-tooltip-extended="settlement-Alignment.{{ sidx }}">
      <h5>{{ localize "PF1.Alignment" }}</h5>
      <select name="system.settlements.{{ sidx }}.attributes.alignment">
        {{selectOptions @root.alignmentOptions selected=attributes.alignment}}
      </select>
    </div>
    <div class="info-box" data-tooltip-extended="settlement-purchaseLimit.{{ sidx }}">
      <h5>{{ localize "PF1KS.PurchaseLimit" }}</h5>
      <span class="value">{{ attributes.purchaseLimit.total }}</span>
    </div>
    <div class="info-box" data-tooltip-extended="settlement-spellcasting.{{ sidx }}">
      <h5>{{ localize "PF1KS.Spellcasting" }}</h5>
      <span class="value">{{ attributes.spellcasting.total }}</span>
    </div>
    <div class="info-box" data-tooltip-extended="settlement-maxBaseValue.{{ sidx }}">
      <h5>{{ localize "PF1KS.MaxBaseValue" }}</h5>
      <span class="value">{{ attributes.maxBaseValue.total }}</span>
    </div>
  </div>
</div>
{{/if}}

<div class="attributes flex0">
  <div class="info-box-header">
    <h3>{{localize "PF1KS.SettlementModifiers"}}</h3>
    <div class="info-box-joined">
      {{#each modifiers}}
      <div class="info-box" data-tooltip-extended="settlement-{{ id }}.{{ ../sidx }}">
        <h5>{{ label }}</h5>
        <span class="value">{{ numberFormat value sign=true }}</span>
      </div>
      {{/each}}
    </div>
  </div>
</div>
