<ol class="item-groups-list">
  <ol class="item-list">
    <li class="flexrow item-list-header">
      <div class="item-name">
        <h3>{{ localize "PF1KS.Settlements" }}</h3>
      </div>
      <div class="item-detail item-size">
        <label>{{localize "PF1.Size"}}</label>
      </div>
      <div class="item-detail item-population">
        <label>{{localize "PF1KS.Population"}}</label>
      </div>
      <div class="item-detail item-number" data-tooltip="PF1KS.Economy"><i class="fa-solid fa-coins"></i></div>
      <div class="item-detail item-number" data-tooltip="PF1KS.Loyalty"><i class="ra ra-queen-crown"></i></div>
      <div class="item-detail item-number" data-tooltip="PF1KS.Stability">
        <i class="fa-solid fa-scale-balanced"></i>
      </div>
      <div class="item-detail item-controls two-button">
        <a class="item-control settlement-create" data-tooltip="PF1KS.CreateSettlement">
          <i class="fa-solid fa-plus"></i>
        </a>
      </div>
    </li>
    {{#each settlements}}
    <li class="flexrow item" data-id="{{ id }}">
      <div class="item-name expand-summary">
        <div class="item-image" style="background-image: url('{{ img }}')"></div>
        <span>{{ name }}</span>
      </div>
      <span class="item-detail item-size">{{ system.attributes.size }}</span>
      <span class="item-detail item-population">{{ system.attributes.population }}</span>
      <span class="item-detail item-number">{{ system.kingdomStats.economy }}</span>
      <span class="item-detail item-number">{{ system.kingdomStats.loyalty }}</span>
      <span class="item-detail item-number">{{ system.kingdomStats.stability }}</span>
      <div class="flexrow item-detail item-controls two-button">
        <a class="item-control settlement-edit" data-tooltip="PF1KS.EditSettlement">
          <i class="fa-solid fa-pen-to-square"></i>
        </a>
        <a class="item-control settlement-delete" data-tooltip="PF1KS.DeleteSettlement">
          <i class="fa-solid fa-trash"></i>
        </a>
      </div>
    </li>
    {{/each}}
  </ol>
</ol>
