{{!-- Settlements Navigation --}}
<nav class="sheet-navigation tabs" data-group="settlements">
  {{#each settlements as |settlement idx|}}
  <a class="item" data-tab="{{ idx }}" data-group="settlements">{{ name }}</a>
  {{/each}}
  <a class="item icon" data-tab="orph" data-group="settlements" data-tooltip="PF1KS.NoSettlementBuildings">
    {{#if noSettlementBuildings.length}}
    <i class="fa-solid fa-house-circle-exclamation"></i>
    {{else}}
    <i class="fa-solid fa-house"></i>
    {{/if}}
  </a>
  <a class="item icon settlement-create" data-tooltip="PF1KS.CreateSettlement">
    <i class="fa-solid fa-plus"></i>
  </a>
</nav>

<section class="settlements-body">
  {{#each settlements as |settlement idx|}}
  <div class="tab flexcol settlement" data-group="settlements" data-tab="{{ idx }}" data-id="{{ id }}">
    <div class="header">
      <h1 class="flex1">
        <input type="text" name="system.settlements.{{ idx }}.name" value="{{ name }}" />
      </h1>
      <div class="settlement-controls">
        <a class="settlement-delete" data-tooltip="PF1KS.DeleteSettlement">
          <i class="fa-solid fa-trash fa-xl"></i>
        </a>
      </div>
    </div>
    <input type="hidden" value="{{ id }}" name="system.settlements.{{ idx }}.id" />

    <div class="flex0 details">
      <span>{{localize "PF1KS.DistrictCount"}}:</span>
      <input type="number" value="{{ districtCount }}" name="system.settlements.{{ idx }}.districtCount" />

      <span>{{localize "PF1KS.Population"}}:</span>
      <span>{{ population }}</span>

      <span>{{localize "PF1KS.Size"}}:</span>
      <span>{{ sizeLabel }}</span>

      <span>{{localize "PF1KS.Danger"}}:</span>
      <span>{{ danger }}</span>

      <span>{{localize "PF1KS.BaseValue"}}:</span>
      <span>{{ baseValue.total }}</span>

      <span>{{localize "PF1KS.Defense"}}:</span>
      <span>{{ defense.total }}</span>

      {{#each modifiers}}
      <span>{{ label }}:</span>
      {{#if @root.system.settings.optionalRules.kingdomModifiers}}
      <span>{{ ifThen (gt kingdomValue value) kingdomValue value }}</span>
      {{else}}
      <span>{{ value }}</span>
      {{/if}}
      {{/each}}
    </div>

    <ol class="item-list">
      <li class="flexrow item-list-header">
        <div class="item-name">
          <h3>{{localize "PF1KS.Buildings"}}</h3>
        </div>
        <div class="item-detail item-controls">
          <a
            class="item-control item-create"
            data-type="{{ @root.buildingType }}"
            data-settlement-id="{{ id }}"
            data-tooltip="PF1.CreateItem"
          >
            <i class="fa-solid fa-plus"></i>
          </a>
        </div>
      </li>
      {{#each buildings}}
      <li class="flexrow item" data-id="{{ id }}">
        <div class="item-name expand-summary">
          <div class="item-image" style="background-image: url('{{ img }}')"></div>
          <span>{{ name }}</span>
        </div>
        <div class="flexrow item-detail item-controls">
          <a class="item-control item-edit" data-tooltip="PF1.EditItem">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>
          <a class="item-control item-duplicate" data-tooltip="PF1.DuplicateItem">
            <i class="fa-solid fa-copy"></i>
          </a>
          <a class="item-control item-delete" data-tooltip="PF1.DeleteItem">
            <i class="fa-solid fa-trash"></i>
          </a>
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
  {{/each}}

  <div class="tab flexcol" data-group="settlements" data-tab="orph">
    <ol class="item-list">
      <li class="flexrow item-list-header">
        <span class="item-name">{{localize "PF1KS.Buildings"}}</span>
        <div class="item-detail item-controls"></div>
      </li>
      {{#each noSettlementBuildings}}
      <li class="flexrow item" data-id="{{ id }}">
        <div class="item-name expand-summary">
          <div class="item-image" style="background-image: url('{{ img }}')"></div>
          <span>{{ name }}</span>
        </div>
        <div class="flexrow item-detail item-controls">
          <a class="item-control item-edit" data-tooltip="PF1.EditItem">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>
          <a class="item-control item-duplicate" data-tooltip="PF1.DuplicateItem">
            <i class="fa-solid fa-copy"></i>
          </a>
          <a class="item-control item-delete" data-tooltip="PF1.DeleteItem">
            <i class="fa-solid fa-trash"></i>
          </a>
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
</section>
