{{!-- Settlements Navigation --}}
<nav class="sheet-navigation tabs" data-group="settlements">
  {{#each sections.settlements as |settlement sidx|}}
  <div class="item" data-tab="{{ sidx }}" data-group="settlements">
    <span>{{ name }}</span>
    {{#unless (eq sidx 0)}}
    <a class="settlement-delete" data-id="{{ id }}" data-tooltip="PF1KS.DeleteSettlement">
      <i class="fa-solid fa-trash-can"></i>
    </a>
    {{/unless}}
  </div>
  {{/each}}
  <a class="item icon" data-tab="orph" data-group="settlements" data-tooltip="PF1KS.UnassignedItems">
    {{#if (or unassignedBuildings.length unassignedFeatures.length)}}
    <i class="fa-solid fa-house-circle-exclamation"></i>
    {{else}}
    <i class="fa-solid fa-house"></i>
    {{/if}}
  </a>
  <a class="item icon settlement-create" data-tooltip="PF1KS.CreateSettlement">
    <i class="fa-solid fa-plus"></i>
  </a>
</nav>

<section class="settlements-body">
  {{#each sections.settlements as |settlement sidx|}}
  <div class="tab settlement" data-group="settlements" data-tab="{{ sidx }}" data-id="{{ id }}">
    {{!-- Settlement Details Navigation --}}
    <nav class="sheet-navigation tabs" data-group="settlement-{{ sidx }}-details">
      <a class="item" data-tab="summary" data-group="settlement-{{ sidx }}-details">{{ localize "PF1.Summary" }}</a>
      <a
        class="item"
        data-tab="districts"
        data-group="settlement-{{ sidx }}-details"
        >{{ localize "PF1KS.Districts" }}</a
      >
      <a class="item" data-tab="features" data-group="settlement-{{ sidx }}-details">{{ localize "PF1KS.Features" }}</a>
      <a
        class="item"
        data-tab="magic-items"
        data-group="settlement-{{ sidx }}-details"
        >{{ localize "PF1KS.MagicItems" }}</a
      >
    </nav>

    <section class="subdetails-body settlement-{{ sidx }}-details">
      <div class="tab settlement-details" data-group="settlement-{{ sidx }}-details" data-tab="summary">
        <div class="header">
          <h1>
            <input type="text" name="system.settlements.{{ sidx }}.name" value="{{ name }}" />
          </h1>
        </div>

        <div class="attributes flex0">
          <div class="info-box-header">
            <h3>{{localize "PF1.Attributes"}}</h3>
            <div class="info-box-joined">
              <div class="info-box">
                <h5>{{ localize "PF1KS.Population" }}</h5>
                <span class="value">{{ attributes.population }}</span>
              </div>
              <div class="info-box">
                <h5>{{ localize "PF1.Size" }}</h5>
                <span class="value">{{ sizeLabel }}</span>
              </div>
              <div class="info-box" data-tooltip-extended="settlement-danger.{{ sidx }}">
                <h5>{{ localize "PF1KS.Danger" }}</h5>
                <span class="value">{{ numberFormat attributes.danger.total sign=true }}</span>
              </div>
              <div class="info-box" data-tooltip-extended="settlement-baseValue.{{ sidx }}">
                <h5>{{ localize "PF1KS.BaseValue" }}</h5>
                <span class="value">{{ attributes.baseValue.total }}</span>
              </div>
              <div class="info-box" data-tooltip-extended="settlement-defense.{{ sidx }}">
                <h5>{{ localize "PF1.Defense" }}</h5>
                <span class="value">{{ numberFormat attributes.defense.total sign=true }}</span>
              </div>
            </div>
          </div>
        </div>

        {{#if @root.system.settings.optionalRules.expandedSettlementModifiers}}
        <div class="attributes flex0">
          <div class="info-box-joined">
            <div class="info-box" data-tooltip-extended="settlement-Government.{{ sidx }}">
              <h5>{{ localize "PF1KS.GovernmentLabel" }}</h5>
              <select name="system.settlements.{{ sidx }}.attributes.government">
                {{selectOptions @root.settlementGovernmentOptions selected=attributes.government}}
              </select>
            </div>
            <div class="info-box" data-tooltip-extended="settlement-Alignment.{{ sidx }}">
              <h5>{{ localize "PF1.Alignment" }}</h5>
              <select name="system.settlements.{{ sidx }}.attributes.alignment">
                {{selectOptions @root.alignmentOptions selected=attributes.alignment}}
              </select>
            </div>
            <div class="info-box" data-tooltip-extended="settlement-purchaseLimit.{{ sidx }}">
              <h5>{{ localize "PF1KS.PurchaseLimit" }}</h5>
              <span class="value">{{ attributes.purchaseLimit.total }}</span>
            </div>
            <div class="info-box" data-tooltip-extended="settlement-spellcasting.{{ sidx }}">
              <h5>{{ localize "PF1KS.Spellcasting" }}</h5>
              <span class="value">{{ attributes.spellcasting.total }}</span>
            </div>
            <div class="info-box" data-tooltip-extended="settlement-maxBaseValue.{{ sidx }}">
              <h5>{{ localize "PF1KS.MaxBaseValue" }}</h5>
              <span class="value">{{ attributes.maxBaseValue.total }}</span>
            </div>
          </div>
        </div>
        {{/if}}

        <div class="attributes flex0">
          <div class="info-box-header">
            <h3>{{localize "PF1KS.SettlementModifiers"}}</h3>
            <div class="info-box-joined">
              {{#each modifiers}}
              <div class="info-box" data-tooltip-extended="settlement-{{ id }}.{{ sidx }}">
                <h5>{{ label }}</h5>
                <span class="value">{{ numberFormat value sign=true }}</span>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>

      <div class="tab settlement-details" data-group="settlement-{{ sidx }}-details" data-tab="districts">
        {{!-- Settlement Districts Navigation --}}
        <nav class="sheet-navigation tabs" data-group="settlement-{{ sidx }}-districts">
          {{#each districts as |district didx|}}
          <div class="item" data-tab="{{ didx }}" data-group="settlement-{{ sidx }}-districts">
            <span>{{ name }}</span>
            {{#unless (eq didx 0)}}
            <a class="district-delete" data-id="{{ id }}" data-tooltip="PF1KS.DeleteDistrict">
              <i class="fa-solid fa-trash-can"></i>
            </a>
            {{/unless}}
          </div>
          {{/each}}
          <a class="item icon district-create" data-tooltip="PF1KS.CreateDistrict">
            <i class="fa-solid fa-plus"></i>
          </a>
        </nav>

        <section class="subdetails-body settlement-{{ sidx }}-districts">
          {{#each districts as |district didx|}}
          <div
            class="tab district"
            data-group="settlement-{{ sidx }}-districts"
            data-tab="{{ didx }}"
            data-id="{{ district.id }}"
          >
            <div class="header">
              <h1>
                <input type="text" name="system.settlements.{{ sidx }}.districts.{{ didx }}.name" value="{{ name }}" />
              </h1>
            </div>

            <div class="item-groups-list">
              <div class="info-box-header">
                <h3>{{localize "PF1KS.DistrictBorders"}}</h3>
                <div class="info-box-joined">
                  <div class="info-box">
                    <h5>{{ localize "PF1KS.Direction.North" }}</h5>
                    <select name="system.settlements.{{ sidx }}.districts.{{ didx }}.borders.north">
                      {{selectOptions @root.districtBorderOptions selected=borders.north}}
                    </select>
                  </div>
                  <div class="info-box">
                    <h5>{{ localize "PF1KS.Direction.East" }}</h5>
                    <select name="system.settlements.{{ sidx }}.districts.{{ didx }}.borders.east">
                      {{selectOptions @root.districtBorderOptions selected=borders.east}}
                    </select>
                  </div>
                  <div class="info-box">
                    <h5>{{ localize "PF1KS.Direction.South" }}</h5>
                    <select name="system.settlements.{{ sidx }}.districts.{{ didx }}.borders.south">
                      {{selectOptions @root.districtBorderOptions selected=borders.south}}
                    </select>
                  </div>
                  <div class="info-box">
                    <h5>{{ localize "PF1KS.Direction.West" }}</h5>
                    <select name="system.settlements.{{ sidx }}.districts.{{ didx }}.borders.west">
                      {{selectOptions @root.districtBorderOptions selected=borders.west}}
                    </select>
                  </div>
                </div>
              </div>

              <div class="grid-container">
                <div class="grid">
                  {{#each grid}}
                  <div class="cell" data-x="{{ x }}" data-y="{{ y }}">
                    <div></div>
                  </div>
                  {{/each}}
                </div>

                {{#each buildings}}
                <div
                  class="building"
                  data-item-id="{{ id }}"
                  style="
                    top: calc(82px * {{ y }} + 1px);
                    left: calc(82px * {{ x }} + 1px);
                    width: calc((80px * {{ width }}) + (2px * ({{ width }} - 1)));
                    height: calc((80px * {{ height }}) + (2px * ({{ height }} - 1)));"
                >
                  <img src="{{ img }}" />
                </div>
                {{/each}}
              </div>

              <ol class="item-list">
                <li class="flexrow item-list-header">
                  <div class="item-name">
                    <h3>{{ localize "PF1KS.LotlessBuildings" }}</h3>
                  </div>
                </li>

                {{#each lotlessBuildings}}
                <li class="item flexrow" data-item-id="{{ id }}">
                  <div class="item-name rollable">
                    <div
                      class="item-image"
                      style="background-image: url(&quot;{{ img }}&quot;)"
                      data-tooltip="PF1.DisplayInChat"
                    ></div>
                    <h4>{{ name }}</h4>
                    {{#if error}}
                    <i class="fa-solid fa-triangle-exclamation" data-tooltip="{{ error }}"></i>
                    {{/if}}
                  </div>

                  {{#if @root.owner}}
                  <div class="item-controls two-button">
                    <a class="item-control item-edit" data-tooltip="PF1.EditItem"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" data-tooltip="PF1.DeleteItem"><i class="fas fa-trash"></i></a>
                  </div>
                  {{/if}}
                </li>
                {{/each}}
              </ol>
            </div>
          </div>
          {{/each}}
        </section>
      </div>

      <div class="tab settlement-details" data-group="settlement-{{ sidx }}-details" data-tab="features">
        <div class="inventory-filters flexrow">
          {{~> "systems/pf1/templates/internal/item-search.hbs" category="features"}}

          <ul class="filter-list flexrow" data-category="features">
            {{#each features as |section sid|}}
            <li class="filter-rule" data-category="features" data-filter="{{ section.id }}">{{ section.label }}</li>
            {{/each}}
          </ul>
        </div>

        <ol class="item-groups-list">
          {{#each features as |section sid|}}
          {{#unless section._hidden}}
          <ol class="item-list">
            <li class="item-list-header flexrow">
              <div class="item-name">
                <h3>{{ section.label }}</h3>
              </div>

              {{#if @root.owner}}
              <div class="item-controls">
                <a
                  class="item-control item-create"
                  data-tooltip="PF1.CreateItem"
                  data-create="{{ section.path }}"
                  data-settlement-id="{{ settlement.id }}"
                >
                  <i class="fas fa-plus"></i>
                </a>
                <a data-action="browse" data-category="feature" data-tooltip="{{ section.browseLabel }}">
                  <i class="fas fa-folder-plus"></i>
                </a>
              </div>
              {{/if}}
            </li>

            {{#each section.items as |item iid|}}
            <li class="item flexrow" data-item-id="{{ item.id }}">
              <div class="item-name rollable">
                <div
                  class="item-image"
                  style="background-image: url(&quot;{{ item.img }}&quot;)"
                  data-tooltip="PF1.DisplayInChat"
                ></div>
                <h4>{{ item.name }}</h4>
              </div>

              {{#if @root.owner}}
              <div class="item-controls">
                <a class="item-control item-edit" data-tooltip="PF1.EditItem"><i class="fas fa-edit"></i></a>
                <a class="item-control item-duplicate" data-tooltip="PF1.DuplicateItem"><i class="fas fa-copy"></i></a>
                <a class="item-control item-delete" data-tooltip="PF1.DeleteItem"><i class="fas fa-trash"></i></a>
              </div>
              {{/if}}
            </li>
            {{/each}}
          </ol>
          {{/unless}}
          {{/each}}
        </ol>
      </div>

      <div class="tab settlement-details" data-group="settlement-{{ sidx }}-details" data-tab="magic-items">
        <div class="magic-item-section item-groups-list">
          {{#each magicItems}}
          <div class="magic-item-container" data-type="{{ key }}">
            <h3>
              {{#if error}}
              <i class="fa-solid fa-triangle-exclamation" data-tooltip="{{ error }}"></i>
              {{/if}}
              <span>{{ label }}</span>
              <span>({{ count }})</span>
            </h3>
            {{#each items as |item iidx|}}
            <div class="magic-item" data-item-id="{{ iidx }}">
              <input
                type="text"
                name="system.settlements.{{ sidx }}.magicItems.{{../key}}.{{ iidx }}"
                value="{{ this }}"
              />
              <a class="magic-item-delete" data-tooltip="PF1.DeleteItem"><i class="fas fa-trash"></i></a>
            </div>
            {{/each}}
          </div>
          {{/each}}
        </div>
      </div>
    </section>
  </div>
  {{/each}}

  <div class="tab" data-group="settlements" data-tab="orph">
    <ol class="item-groups-list">
      <ol class="item-list">
        <li class="flexrow item-list-header">
          <div class="item-name">
            <h3>{{ localize "PF1.Subtypes.Item.pf1-kingdom-sheet.building.Plural" }}</h3>
          </div>

          <div class="item-detail item-settlement-name">
            <label>{{localize "PF1KS.DistrictLabel"}}</label>
          </div>

          <div class="item-detail item-settlement-name">
            <label>{{localize "PF1KS.SettlementLabel"}}</label>
          </div>

          {{#if @root.owner}}
          <div class="item-controls two-button"></div>
          {{/if}}
        </li>

        {{#each unassignedBuildings}}
        <li class="item flexrow" data-item-id="{{ id }}">
          <div class="item-name rollable">
            <div
              class="item-image"
              style="background-image: url(&quot;{{ img }}&quot;)"
              data-tooltip="PF1.DisplayInChat"
            ></div>
            <h4>{{ name }}</h4>
          </div>

          <div class="item-detail item-settlement-name">
            {{#if districtName}}
            <span>{{ districtName }}</span>
            {{else}}
            <i class="fa-solid fa-triangle-exclamation" data-tooltip="PF1KS.MissingDistrict"></i>
            {{/if}}
          </div>

          <div class="item-detail item-settlement-name">
            {{#if settlementName}}
            <span>{{ settlementName }}</span>
            {{else}}
            <i class="fa-solid fa-triangle-exclamation" data-tooltip="PF1KS.MissingSettlement"></i>
            {{/if}}
          </div>

          {{#if @root.owner}}
          <div class="item-controls two-button">
            <a class="item-control item-edit" data-tooltip="PF1.EditItem"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" data-tooltip="PF1.DeleteItem"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
        </li>
        {{/each}}
      </ol>
      <ol class="item-list">
        <li class="flexrow item-list-header">
          <div class="item-name">
            <h3>{{ localize "PF1KS.Features" }}</h3>
          </div>

          <div class="item-detail item-settlement-name">
            <label>{{localize "PF1KS.SettlementLabel"}}</label>
          </div>

          {{#if @root.owner}}
          <div class="item-controls two-button"></div>
          {{/if}}
        </li>

        {{#each unassignedFeatures}}
        <li class="item flexrow" data-item-id="{{ id }}">
          <div class="item-name rollable">
            <div
              class="item-image"
              style="background-image: url(&quot;{{ img }}&quot;)"
              data-tooltip="PF1.DisplayInChat"
            ></div>
            <h4>{{ name }}</h4>
          </div>

          <div class="item-detail item-settlement-name">
            <i class="fa-solid fa-triangle-exclamation" data-tooltip="PF1KS.MissingSettlement"></i>
          </div>

          {{#if @root.owner}}
          <div class="item-controls two-button">
            <a class="item-control item-edit" data-tooltip="PF1.EditItem"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" data-tooltip="PF1.DeleteItem"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
        </li>
        {{/each}}
      </ol>
    </ol>
  </div>
</section>
