<form autocomplete="off">
  {{! Sheet Navigation }}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="summary" data-group="primary">{{localize "PF1KS.Summary"}}</a>
    <a class="item" data-tab="leadership" data-group="primary">{{localize "PF1KS.LeadershipLabel"}}</a>
    <a class="item" data-tab="settlements" data-group="primary">{{localize "PF1KS.Settlements"}}</a>
    <a class="item" data-tab="terrain" data-group="primary">{{localize "PF1KS.TerrainLabel"}}</a>
    <a class="item" data-tab="events" data-group="primary">{{localize "PF1KS.Events"}}</a>
    <a class="item" data-tab="notes" data-group="primary">{{localize "PF1KS.Notes"}}</a>
    <a class="item" data-tab="config" data-group="primary">{{localize "PF1KS.ConfigLabel"}}</a>
  </nav>

  {{! Sheet Body }}
  <section class="primary-body">
    {{! Summary Tab }}
    <div class="tab summary flexcol" data-group="primary" data-tab="summary">
      {{> kingdom-sheet-summary}}
    </div>

    {{! Leadership Tab }}
    <div class="tab leadership flexcol" data-group="primary" data-tab="leadership">
      {{> kingdom-sheet-leadership}}
    </div>

    {{! Settlements Tab }}
    <div class="tab settlements flexcol" data-group="primary" data-tab="settlements">
      {{> kingdom-sheet-settlements}}
    </div>

    {{! Terrain Tab }}
    <div class="tab terrain flexcol" data-group="primary" data-tab="terrain">
      {{> kingdom-sheet-terrain}}
    </div>

    {{! Events Tab }}
    <div class="tab events flexcol" data-group="primary" data-tab="events">
      {{> kingdom-sheet-events}}
    </div>

    {{! Notes Tab }}
    <div class="tab notes flexcol" data-group="primary" data-tab="notes">
      {{editor enrichedNotes target="system.notes" button=true editable=editable engine="prosemirror"}}
    </div>

    {{! Config Tab }}
    <div class="tab config flexcol" data-group="primary" data-tab="config">
      {{> kingdom-sheet-config}}
    </div>
  </section>
</form>
