<form autocomplete="off">
  {{! Sheet Navigation }}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="summary" data-group="primary">{{localize "PF1KS.Summary"}}</a>
    <a class="item" data-tab="features" data-group="primary">{{localize "PF1KS.Army.Features"}}</a>
    <a class="item" data-tab="commander" data-group="primary">{{localize "PF1KS.Army.Commander"}}</a>
    <a class="item" data-tab="notes" data-group="primary">{{localize "PF1KS.Notes"}}</a>
  </nav>

  {{! Sheet Body }}
  <section class="primary-body">
    {{! Summary Tab }}
    <div class="tab summary flexcol" data-group="primary" data-tab="summary">
      {{> army-sheet-summary}}
    </div>

    {{! Features Tab }}
    <div class="tab summary flexcol" data-group="primary" data-tab="features">
      {{> army-sheet-features}}
    </div>

    {{! Commander Tab }}
    <div class="tab summary flexcol" data-group="primary" data-tab="commander">
      {{> army-sheet-commander}}
    </div>

    {{! Notes Tab }}
    <div class="tab notes flexcol" data-group="primary" data-tab="notes">
      {{editor enrichedNotes target="system.notes" button=true editable=editable engine="prosemirror"}}
    </div>
  </section>
</form>
