<div class="flex0 flexcol">
  <span>{{localize "PF1KS.SecondRuler"}}</span>
  <input
    class="consort-toggle"
    type="checkbox"
    name="system.config.secondRuler"
    {{checked
    system.config.secondRuler}}
  />

  <h3>{{localize "PF1KS.OptionalRules"}}</h3>
  <span>{{localize "PF1KS.Config.KingdomModifiers"}}</span>
  <input type="checkbox" name="system.config.kingdomModifiers" {{checked system.config.kingdomModifiers}} />

  <span>{{localize "PF1KS.Config.FameInfamy"}}</span>
  <input type="checkbox" name="system.config.fameInfamy" {{checked system.config.fameInfamy}} />

  <span>{{localize "PF1KS.Config.GovernmentForms"}}</span>
  <input
    class="government-toggle"
    type="checkbox"
    name="system.config.governmentForms"
    {{checked
    system.config.governmentForms}}
  />

  <span>{{localize "PF1KS.Config.LeadershipSkills"}}</span>
  <input type="checkbox" name="system.config.leadershipSkills" {{checked system.config.leadershipSkills}} />

  <span>{{localize "PF1KS.Config.SettlementSizes"}}</span>
  <input type="checkbox" name="system.config.altSettlementSizes" {{checked system.config.altSettlementSizes}} />
</div>
