<ol class="item-list">
  <li class="flexrow item-list-header">
    <span class="item-detail item-position">{{localize "PF1KS.Position"}}</span>
    <span class="item-name">{{localize "PF1KS.FilledBy"}}</span>
    <span class="item-detail item-leader-bonus">{{localize "PF1KS.Bonus"}}</span>
    <div class="item-detail leader-controls">
      <a class="leader-control viceroy-create" data-tooltip="PF1RS.AddViceroy">
        <i class="fa-solid fa-plus"></i>
      </a>
    </div>
  </li>

  {{#each leaders}}
  <li class="flexrow item leader">
    <span class="item-detail item-position">{{ label }}</span>
    <select class="item-name" name="system.leadership.{{ id }}.actorId">
      {{selectOptions @root.validLeadershipChoices selected=actorId}}
    </select>
    <span class="item-detail item-leader-bonus">+ {{ bonus }} {{ bonusTypesLabel }}</span>
    <div class="item-detail leader-controls"></div>
  </li>
  {{/each}}

  {{#each viceroys as |viceroy idx|}}
  <li class="flexrow item leader" data-id="{{ id }}">
    <span class="item-detail item-position">{{ label }}</span>
    <select class="item-name" name="system.leadership.viecroys.{{ idx }}.actorId">
      {{selectOptions @root.validLeadershipChoices selected=actorId}}
    </select>
    <span class="item-detail item-leader-bonus">+ {{ bonus }} {{ bonusTypesLabel }}</span>
    <input type="hidden" value="{{ id }}" name="system.leadership.viceroys.{{ idx }}.id" />
    <input type="hidden" value="{{ type }}" name="system.leadership.viceroys.{{ idx }}.type" />
    <input type="hidden" value="{{ bonusTypes }}" name="system.leadership.viceroys.{{ idx }}.type" />
    <div class="item-detail leader-controls">
      <a class="leader-control viceroy-delete" data-tooltip="PF1RS.RemoveViceroy">
        <i class="fa-solid fa-trash"></i>
      </a>
    </div>
  </li>
  {{/each}}
</ol>
