<div class="flex0 details">
  {{#each terrain}}
  <span>{{ label }}:</span>
  {{numberInput value name=(concat "system.terrain." @key) step=1 min=0}}
  {{/each}}
</div>

<ol class="item-groups-list">
  {{#each improvementSections}}
  <ol class="item-list">
    <li class="flexrow item-list-header">
      <span class="item-name">{{ label }}</span>
      <div class="item-detail item-controls">
        <a
          class="item-control item-create"
          data-type="{{ @root.improvementType }}"
          data-sub-type="{{ subType }}"
          data-tooltip="PF1RS.CreateItem"
        >
          <i class="fa-solid fa-plus"></i>
        </a>
      </div>
    </li>
    {{#each improvements}}
    <li class="flexrow item" data-id="{{ id }}">
      <div class="item-name expand-summary">
        <div class="item-image" style="background-image: url('{{ img }}')"></div>
        <span>{{ name }}</span>
      </div>
      <div class="flexrow item-detail item-controls">
        <a class="item-control item-edit" data-tooltip="PF1RS.EditItem">
          <i class="fa-solid fa-pen-to-square"></i>
        </a>
        <a class="item-control item-delete" data-tooltip="PF1RS.DeleteItem">
          <i class="fa-solid fa-trash"></i>
        </a>
      </div>
    </li>
    {{/each}}
  </ol>
  {{/each}}
</ol>
