<select name="system.commander.actor">
  {{selectOptions commanderChoices selected=actorId blank=''}}
</select>

<input type="checkbox" name="system.commander.kingdomLeader" {{checked system.commander.kingdomLeader}} />

<label>{{localize "PF1KS.Army.MoraleBonus"}}</label>
<span>{{ system.commander.moraleBonus }}</span>

<label>{{localize "PF1KS.Army.Leadership"}}</label>
<span>{{ system.commander.leadership }}</span>

<label>{{localize "PF1KS.Army.MaxBoons"}}</label>
<span>{{ system.commander.maxBoons }}</span>

<ol class="item-list">
  <li class="flexrow item-list-header">
    <span class="item-name">{{ label }}</span>
    <div class="item-detail item-controls">
      <a class="item-control item-create" data-type="{{ boonType }}" data-tooltip="PF1KS.CreateItem">
        <i class="fa-solid fa-plus"></i>
      </a>
    </div>
  </li>
  {{#each boons}}
  <li class="flexrow item" data-id="{{ id }}">
    <div class="item-name expand-summary">
      <div class="item-image" style="background-image: url('{{ img }}')"></div>
      <span>{{ name }}</span>
    </div>
    <div class="flexrow item-detail item-controls">
      <a class="item-control item-edit" data-tooltip="PF1KS.EditItem">
        <i class="fa-solid fa-pen-to-square"></i>
      </a>
      <a class="item-control item-delete" data-tooltip="PF1KS.DeleteItem">
        <i class="fa-solid fa-trash"></i>
      </a>
    </div>
  </li>
  {{/each}}
</ol>
