<h3 class="flex0">{{localize "PF1KS.Army.ResourcesLabel"}}</h3>
<div class="resources">
  <label>
    <input type="checkbox" name="system.resources.impArmor" {{checked system.resources.impArmor}} />
    {{ localize "PF1KS.Army.Resources.ImpArmor" }}
  </label>
  <label>
    <input type="checkbox" name="system.resources.magArmor" {{checked system.resources.magArmor}} />
    {{ localize "PF1KS.Army.Resources.MagArmor" }}
  </label>
  <label>
    <input type="checkbox" name="system.resources.impWeapons" {{checked system.resources.impWeapons}} />
    {{ localize "PF1KS.Army.Resources.ImpWeapons" }}
  </label>
  <label>
    <input type="checkbox" name="system.resources.magWeapons" {{checked system.resources.magWeapons}} />
    {{ localize "PF1KS.Army.Resources.MagWeapons" }}
  </label>
  <label>
    <input type="checkbox" name="system.resources.ranged" {{checked system.resources.ranged}} />
    {{ localize "PF1KS.Army.Resources.Ranged" }}
  </label>
  <label>
    <input type="checkbox" name="system.resources.potions" {{checked system.resources.potions}} />
    {{ localize "PF1KS.Army.Resources.Potions" }}
  </label>
  <label>
    <input type="checkbox" name="system.resources.mounts" {{checked system.resources.mounts}} />
    {{ localize "PF1KS.Army.Resources.Mounts" }}
  </label>
  <div class="siege">
    <span>{{ localize "PF1KS.Army.Resources.Siege" }}:</span>
    {{numberInput system.resources.seCount name="system.resources.seCount" step=1 min=0}}
  </div>
</div>

<ol class="item-groups-list">
  {{#each featureSections}}
  <ol class="item-list">
    <li class="flexrow item-list-header">
      <div class="item-name">
        <h3>{{ label }}</h3>
      </div>
      <div class="item-detail item-controls">
        <a class="item-control item-create" data-type="{{ featureType }}" data-tooltip="PF1KS.CreateItem">
          <i class="fa-solid fa-plus"></i>
        </a>
      </div>
    </li>
    {{#each features}}
    <li class="flexrow item" data-id="{{ id }}">
      <div class="item-name expand-summary">
        <div class="item-image" style="background-image: url('{{ img }}')"></div>
        <span>{{ name }}</span>
      </div>
      <div class="flexrow item-detail item-controls">
        <a class="item-control item-edit" data-tooltip="PF1KS.EditItem">
          <i class="fa-solid fa-pen-to-square"></i>
        </a>
        <a class="item-control item-duplicate" data-tooltip="PF1KS.DuplicateItem">
          <i class="fa-solid fa-copy"></i>
        </a>
        <a class="item-control item-delete" data-tooltip="PF1KS.DeleteItem">
          <i class="fa-solid fa-trash"></i>
        </a>
      </div>
    </li>
    {{/each}}
  </ol>
  {{/each}}
</ol>

<hr />

<footer>
  <div class="info-box-joined">
    <div class="info-box">
      <h5>{{ localize "PF1KS.Army.CurrentTactics" }}</h5>
      <span class="value">{{ system.tactics.current }}</span>
    </div>
    <div class="info-box">
      <h5>{{localize "PF1KS.Army.MaxTactics" }}</h5>
      <span class="value">{{ system.tactics.max }}</span>
    </div>
  </div>
</footer>
