<div class="header">
  <img class="profile" src="{{ img }}" data-edit="img" />

  <div class="flex-col">
    <h1>
      <input type="text" name="name" value="{{ name }}" />
    </h1>

    <div class="flex1 details">
      <label>{{localize "PF1KS.Army.SizeLabel"}}:</label>
      <select name="system.size">
        {{selectOptions sizeChoices selected=system.size blank=''}}
      </select>

      <label>{{localize "PF1KS.Army.HD"}}:</label>
      <select name="system.hd">
        {{selectOptions hdChoices selected=system.hd blank=''}}
      </select>

      <label>{{localize "PF1KS.Army.ACR"}}</label>
      {{numberInput system.acr name="system.acr"}}

      <label>{{localize "PF1KS.Army.ConsumptionPerMonth" }}</label>
      <span>{{ system.consumption.total }}</span>

      <label>{{localize "PF1KS.Army.Speed" }}</label>
      <span>{{ system.speed }}</span>

      <label>{{ localize "PF1KS.Army.Morale" }}</label>
      {{numberInput system.morale name="system.morale" step=1 min=-5 max=4}}
    </div>
  </div>
</div>

<div class="flex0">
  <div class="info-box-joined flex0">
    <div class="info-box">
      <span class="label">{{ localize "PF1KS.Army.HpCurrent" }}</span>
      {{numberInput system.hp.current name="system.hp.current" step=1 min=0}}
    </div>
    <div class="info-box">
      <span class="label">{{localize "PF1KS.Army.HpMax" }}</span>
      <span class="value">{{ system.hp.max }}</span>
    </div>
  </div>

  <div class="info-box-joined flex0">
    <div class="info-box">
      <span class="label">{{localize "PF1KS.Army.DV" }}</span>
      <span class="value">{{ system.dv.total }}</span>
    </div>
    <div class="info-box">
      <div class="label">
        <a class="rollable"><i class="fa-solid fa-dice-d20"></i></a>
        <span>{{ localize "PF1KS.Army.OM" }}</span>
      </div>
      <span class="value">+{{ system.om.total }}</span>
    </div>
  </div>
</div>
