<div class="summary-header">
  <img class="profile" src="{{ img }}" data-edit="img" />

  <div class="flexcol basic-info">
    <div class="flexrow name-xp">
      <h1 class="char-name">
        <input type="text" name="name" value="{{ name }}" />
      </h1>
      <div class="hd-level">
        <div class="inputs">
          <div class="info-box">
            <h5>{{localize "PF1KS.Army.ACR" }}</h5>
            {{numberInput system.acr name="system.acr"}}
          </div>
          <div class="info-box">
            <h5>{{localize "PF1KS.Army.Exp" }}</h5>
            <span class="value">{{ system.exp }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="flex1 details">
      <span>{{localize "PF1KS.Army.Type"}}:</span>
      <input class="army-type" type="text" name="system.type" value="{{ system.type }}" />

      <span>{{localize "PF1KS.AlignmentLabel"}}:</span>
      <select name="system.alignment">
        {{selectOptions alignmentChoices selected=system.alignment blank=''}}
      </select>

      <span>{{localize "PF1KS.Army.SizeLabel"}}:</span>
      <select name="system.size">
        {{selectOptions sizeChoices selected=system.size blank='' nameAttr="key" labelAttr='label'}}
      </select>

      <span>{{localize "PF1KS.Army.HD"}}:</span>
      <select name="system.hd">
        {{selectOptions hdChoices selected=system.hd}}
      </select>

      <span data-tooltip="PF1KS.Army.ConsumptionPerMonth">{{localize "PF1KS.Consumption" }}:</span>
      <span>{{ system.consumption.total }}</span>

      <span>{{localize "PF1KS.Army.Speed" }}:</span>
      {{numberInput system.speed name="system.speed" min=0}}

      <span>{{ localize "PF1KS.Army.Morale" }}:</span>
      {{numberInput system.morale.base name="system.morale.base" step=1 min=-5 max=4}}

      <span>{{localize "PF1KS.Army.StrategyLabel"}}:</span>
      <select name="system.strategy">
        {{selectOptions strategyChoices selected=system.strategy nameAttr="key" labelAttr='label'}}
      </select>
    </div>
  </div>
</div>

<section class="army-attributes">
  <div class="info-box-header">
    <h3>{{localize "PF1KS.Army.HP"}}</h3>
    <div class="info-box-joined flex0">
      <div class="info-box">
        <h5>{{ localize "PF1KS.Army.HpCurrent" }}</h5>
        {{numberInput system.hp.current name="system.hp.current" step=1 min=0}}
      </div>
      <div class="info-box">
        <h5>{{localize "PF1KS.Army.HpMax" }}</h5>
        <span class="value">{{ system.hp.max }}</span>
      </div>
    </div>
  </div>

  <div class="info-box-header">
    <h3>{{localize "PF1KS.Army.Attributes"}}</h3>
    <div class="info-box-joined flex0">
      <div class="info-box">
        <h5>{{localize "PF1KS.Army.DV" }}</h5>
        <span class="value">{{ system.dv.total }}</span>
      </div>
      <div class="info-box">
        <h5 class="attribute" data-attribute="om">
          <a class="rollable"><i class="fa-solid fa-dice-d20"></i></a>
          <span>{{ localize "PF1KS.Army.OM" }}</span>
        </h5>
        <span class="value">{{ numberFormat system.om.total sign=true }}</span>
      </div>
      <div class="info-box">
        <h5>{{ localize "PF1KS.Army.DamageBonus" }}</h5>
        <span class="value">{{ numberFormat system.damageBonus sign=true }}</span>
      </div>
      <div class="info-box">
        <h5 class="attribute" data-attribute="morale">
          <a class="rollable"><i class="fa-solid fa-dice-d20"></i></a>
          <span>{{ localize "PF1KS.Army.Morale" }}</span>
        </h5>
        <span class="value">{{ numberFormat system.morale.total sign=true }}</span>
      </div>
    </div>
  </div>
</section>
